.ql-container.ql-snow {
  border: transparent;
  background-color: rgba(239, 241, 249, 0.6);
  border-radius: 8px;
}

.ql-toolbar.ql-snow {
  border: transparent;
  background-color: rgba(239, 241, 249, 0.6);
  border-radius: 8px;
}
